.EditLocationForm{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height:100%;
    align-items: center;
}

.EditLocationForm textarea {
    max-width: 200px;
    max-height: 100px;
    overflow-y: auto; 
    border-radius: 5px; 
}

.EditLocationForm input{
border-radius: 5px; 
}

.EditLocationForm label{
    align-self: center;
}

.divForm{
    display: flex;
    flex-direction: column;
}

.buttonForm{
    align-self: center;
}