.NewLocationForm{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content:space-evenly;
    height:100%;
}

.NewLocationForm textarea {
    /* resize: none; */
    max-width: 200px;
    max-height: 100px;
    overflow-y: auto; /* Adaugă un scrollbar vertical dacă e nevoie */
}